package #package#;

import base.ComposableClassifiedsProvider;
import base.ClassifiedComposer;

public abstract class ContentClassifiedsProvider extends ComposableClassifiedsProvider {

    public ContentClassifiedsProvider() {
#newClassifiedComposers#
    }

#absractMethods#
}
