package #package#;

import base.AbstractClassifiedsProvider;
import base.ClassifiedComposer;

public abstract class ContentClassifiedsProvider extends AbstractClassifiedsProvider {

    public ContentClassifiedsProvider() {
#newClassifiedComposers#
    }

#absractMethods#
}
