package #package#;

public enum Content {

#body#;

    private String id;

    Content(String id) {
        this.id = id;
    }

    @Override
    public String toString() {
        return id;
    }

}